// NAVBAR
.navbar-brand {
    img {
        @include centrado-flex;
        width: 100%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
    }
}

.body-color {
    background-color: $color-fondo;
    color: $color-texto;
}

// TITULOS
h1 {
    text-align: center;
    font-size: $fuente-h1;
    font-family: $fuente-principal;
}

p {
    font-weight: bold;
    margin: 1rem;
}

.parrafo {
    text-align: center;
    font-weight: bold;
    margin: 30px auto;
    max-width: 900px;
}

// CARDS
.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 60px;

    .img-estilo {
        width: 200%;
        max-width: none;
        height: auto;
        border-radius: $border-radius;
    }
}

// GALERÍA DE PRECIOS
.galeria-precios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: auto;

    img {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

// NOSOTROS
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
        border-radius: $border-radius;
    }
}

// CARRUSEL
.carousel-item {
    img {
        max-height: 650px;
        width: 100%;
        object-fit: contain;
    }
}

.carousel-caption {

    p {
        text-shadow: $sombra-texto;
    }
} 

//CONTACTO
.boton-enviar {
    background-color: #0c693d; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .boton-enviar:hover {
    background-color: #29be79; 
  }

// FOOTER
footer {
    text-align: center;
    font-size: 15px;
    margin-top: 6rem;
    padding: 5px;
    background-color: $color-fondo;
    color: $color-texto;

    img {
        width: 50px;
        height: 50px;
        margin: 20px;
    }

    a {
        text-decoration: none;
    }
}

// MEDIA QUERY MOBILE
@media screen and (max-width: 768px) {
    .navbar-brand {
        img {
            max-width: 90%;
            height: auto;
            max-height: 50px;
        }
    }

    .card-grid {
        grid-template-columns: auto;
        width: 353px;
        gap: 20px;
        margin: 19px;

        .img-estilo {
            width: 350px;
            height: auto;
        }
        
    }

    .nosotros {
        img {
        max-width: 350px;
    }
    }
    .galeria-precios {
        grid-template-columns: auto;
        gap: 20px;
        justify-items: center;

        img {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            max-width: 300px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

    }
}


// MEDIA QUERY TABLET
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 40px;

        .img-estilo {
            width: 100%;
            height: auto;
        }
    }

    .galeria-precios {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0 10px;

        img {
            max-width: 90%;
            height: auto;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .nosotros {
        padding: 20px;

        img {
            max-width: 80%;
        }
    }
}