// Colores
$color-fondo: #232b3a;
$color-texto: white;

//Tipografía
$fuente-principal: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$fuente-h1: 3rem;

// Margenes
$border-radius: 10px;
$sombra-texto: 2px 2px 4px black;
